<h1>Django Admin View</h1>

<p>
Once setup is complete, it is time It's time to start configuring the app for your specific environment.  The admin UI we use below will also be used
to add new repositories to the system, unless you decide to use the {{ doc('imports') }} feature.
</p>

<h2>Organization Setup</h2>

<p>
Visit <b>http://servername:8000/admin</b> and create an <b>Organization</b>.
Normally organizations represent something like <i>departments</i> or <i>divisions</i> (at a workplace) or <i>courses</i> at a university.
You do not technically need to create more than one organization, but you can.
</p>

<h2>Credential Setup</h2>

<p>
You should also add some <b>Credential</b> objects, which are used when checking out private repositories.
Credentials will hold on to your <b>SSH private keys</b>, which are automated behind the scenes with the system using SSH-agent.
It's fine to create keys specifically for this purpose, and then add them to your repositories in GitHub, GitLab, and so on,
and is preferred to using private keys that would have access to other software systems.
This all being said, these keys are encrypted in the database using the key created during the 'generate_secret' part of the earlier install process.
</p>

<h2>Repository Setup</h2>

<p>
With these two configuration items in place, you may now add <b>Repositories</b> at this time using the admin web interface.
For each repository, provide a name, select an <b>Organization</b> that it should belong to, and optionally pick a credential object to use if the repository is not public.
You may also add repositories via the import command, see {{ doc('imports') }}.
</p>

<h2>About Merge Commits</h2>

<p>
The organization has a setting for whether or not repository merge commits should be included in statistical totals.
The answer should probably be "no", but in the event git somehow does not have the source commits in the repo, you might
want to try this as "yes". We could be hallucinating this possibility, but it was enough that we added a feature for it.
To track statistics of merge commits, configure "include_merge_commits" on the organization object before running or rerunning scans.
The merge commits will pad stats for merging others code, but may be needed if for some reason code is not showing up in the counts
due to the way it is being merged, which should also be rare.  This feature could be removed in a future release.
</p>

<h2>Next Steps: Scanning</h2>

<p>
Before proceeding further to the web interface, lets first scan the repository or repository you have
added so there will be some graphs and statistics to view. We'll show how to do that below.
</p>

After setting up Django admin, it is time to import repository data.  See {{ doc('scanner') }}.

