<h1>Moving to Production: Apache or Nginx</h1>

<p>
SourceOptics contains some example config files in <A HREF="https://bitbucket.org/laserllama/sourceoptics/src/master/examples/">'examples/'</A> for proxying <i>gnuicorn</i> with <i>nginx</i> that have been tested on Ubuntu.
</p>

<p>
Alternatively, you could also run SourceOptics through <i>apache</i> with <i>mod_wsgi</i>, perhaps on CentOS 8.  The Apache example also includes some boilerplate for use with <i>Shibboleth</i>, a popular (but hard to configure) solution for SSO particularly in
educational environments. Please note that once Shibboleth is cleared, access to the read only views is available to all users until RBAC support can be added to SourceOptics.
</p>

<p>
It's important to make sure your webserver starts automatically with gunicorn, so for that, systemd configuration files are also provided in the examples folder.
</p>

<p>
Scan commands ("ssh-agent python3 manage.py scan") should be added to a crontab.
</p>
