<h1>Author Index</h1>

<p>
The author index page is accessed with <i class="fas fa-user"></i> beside a user from within {{ doc('repo_stats') }} page or {{ doc('commit_feed') }}.
</p>

<p>
This mostly contains links to navigation items presented elsewhere in the application.  In the future, this may
contain summary information about the author similar to what is done with {{ doc('repo_index') }} and the existing pie charts.
</p>

<img src="./ss_author_index.png" width=400/>

<p>Pages linked to include:</p>

<ul>
<li>{{ doc('author_stats') }}</li>
<li>{{ doc('graphs') }}</li>
<li>{{ doc('commit_feed') }}</li>
</ul>

<p>While the normal behavior of SourceOptics is to graph a repository (or repositories) and show statistics for each contributor, accessing pages
from the author index instead shows how an author works across multiple repositories within the organization.  For instance, this page
can be used to show interesting things around one's entire software career, or show how work within one company flows between repositories as
projects and focuses change.
</p>




