<h1>Author Stats</h1>

<p>
The author stats page is accessed by clicking the <i class='fas fa-table'></i> icon next to a repository.  This page shows stats for every author contributing to the repo, as opposed
to statistics for all authors put together.
</p>

<p>
Links beside each authors name are versions of tools available for the repository itself, but constrained to show data for that particular author.
</p>

<img src="./ss_author_stats.png" width=400/>


<p>
Of particular interest is the graph icon next to an author name - it shows the graphs of all work the author has done across all repositories in the organization
within the selected date range - which is a great way to see what features a given individual is working on. In most corporate contexts, it is quote common for
developers to hop between multiple repos, and the graphs can easily track <i>decades</i> worth of history.
</p>

<p>
Clicking on the chart icon beside a particular author will load the stats for that author across all repositories within the organization.
</p>


