<h1>Backups & Maintenance</h1>

<p>
You should make database backups. The 'work' directory inside the project is not important to save, as new checkouts will recreate the git clones.
</p>

<p>
You should absolutely backup /etc/source_optics, not only for database configuration and settings, but also the 'cred.key' file, which is used to symetrically encrypt database contents. The encryption key is not held within the database. As previously mentioned, if you rewrite this key, you will need to set up new credentials in the admin system.
</p>

<p>
The database uses BRIN indexes (these are set up for automatically) for statistics lookups. Running scan with "-F" (force mode, not the default) will repeatedly delete and re-add certain objects in the database. Running "vacuum full analyze" within psql may improve performance if run periodically - this is most applicable for repos with exceptionally large numbers of contributors. To keep things simple, do not put "scan -F" on cron, and only run it in force mode when needed. Running a normal scan (without "-F") on cron is perfectly fine and expected.
</p>

<p>
There are no other significant maintaince tasks to be aware of at this time.
</p>

