<h1>Changelog</h1>

<p>
Starting with version 2.0, releases correspond with tags in git. As described in the installation documentation, running from
source is safe and encouraged, see {{ doc('upgrades') }} for how to move between versions.
</p>


<h2>version 2.1 - pending</h2>

<ul>
<li>Log views to be fully supported</li>
</ul>

<h2>version 2.0 - May 9, 2020</h2>

<ul>
<li>Added punchcard view, pie chart on repo index, new graph views</li>
</ul>

<h2>version 1.0 - through January 2020</h2>

<ul>
<li>Initial versions</li>
</ul>



