<h1>Commit Feed</h1>

<p>The commit feed is accessed by clicking on any "feed" icon <i class="fas fa-rss"></i> from the {{ doc('author_stats') }} page or from the repo detail page.</p>

<p>This view shows the commits in a repo, across all branches, for either all authors or a specific author.  While version control web pages
show a commit feed for a particular branch, seeing all commits across all branches gives a unique view into the work a team is applying
to a given source control repository.</p>

<img src="./ss_commit_feed.png" width=400/>