<h1>Contributing</h1>

Here's How To Participate In The SourceOptics project...

<h2>BitBucket</h2>

SourceOptics is hosted on BitBucket.  Any submissions should be pull requests to the <A HREF="https://bitbucket.org/laserllama/sourceoptics/src/master/">master branch</A>.

It is better to discuss ideas prior to implementation to avoid redundant efforts - <A HREF="mailto:michael@michaeldehaan.net">email Michael</A> to discuss any ideas.
Please do not submit any reformatting code changes.

<h2>Bugs</h2>

File tickets in BitBucket if you hit an exception and can't fix it with a pull request to fix them. Please email feature ideas rather than filing feature request
tickets.

<h2>Shoutouts</h2>

If you are using SourceOptics and liking it, feel free to let us know, as we like hearing from folks. You can tweet at <A HREF="https://twitter.com/sourceoptics">@sourceoptics</A> or <A HREF="mailto:michael@michaeldehaan.net">
email Michael</A>.

