<h1>Date Ranges</h1>

<p>
All pages in SourceOptics operate on time series data, and statistics reflect the currently selected date range, as noted in the query string, or the date
widget <i class="far fa-calendar-alt"></i></p>

<p>The date widget allows picking any start and end date, and will constrain the SourceOptics view to that date range.  If you did not select a date
range, the default range pulled up by SourceOptics is "Unix Epoch" (1970) to today.
</p>

<p>The date range is designed to persist with navigation, and is included in any hyperlinks for deep linking to particular graphs</p>

<p>Contracted:</p>

<img src="./ss_date_contracted.png" width=200/>

<p>Expanded:</p>

<img src="./ss_date_expanded.png" width=200/>

<p>If the date range is not set, the default date range will include everything from 01/01/1970 to today's date.  Be sure the SourceOptics administrator
has set up either periodic scanning or {{ doc('webhooks') }} to ensure data is always current.</p>




