<h1>Frequently Asked Questions</h1>

<hr/>

<h2>What Is The Most Significant Aspect of SourceOptics?</h2>

<p>
The SourceOptics scanner runs against all branches in a repository, analyzing activity patterns between repositories. Everything
is stored as time-series data, so you can, from any page, pick a region of time and see stats for that specific time
range, down to individual days.
</p>

<h2>How Is This Different From GitHub Insights?</h2>

<p>
SourceOptics was written because GitHub stats were not good enough.  It primarily considers the master
branch, and does not provide good options for comparing statistics (or graphs) between repositories and contributors.
</p>

<h2>Can This Data Be Misinterpreted?</h2>

<p>
Definitely, but metrics provide more value than risk. There's a reason developers fear source code metrics - bad managers.  However, good managers are better
informed when they have data. The SourceOptics philosophy is to show you statistics and graphs and leave it up to the viewer
to use that data responsibly.
</p>

<p>
Just because someone does not have a lot of commits does not mean they are not working, rather, they could
be making larger commits, working on other projects, or be involved in some other activity.
</p>

<p>
Similarly, lines of code is not a performance metric - but sometimes lines of code removed could be! If a developer <i>vendors</i> a package, they will
get "credit" for all the lines of the code in that package - even if they did very little work.
</p>

<p>
If someone has the lion's share of work in a repo, that may be a good sign, but it may also mean they are a ball hog.
Human intelligence is always needed to interpret the data.  That's why SourceOptics takes a very visual approach
rather than suggesting conclusions.
</p>

<p>
Just knowing what repositories are active - and if there is activity of any kind - within a given time span is  often more
valuable in knowing how much activity there was - but combined with other data, like the commit log (which SourceOptics also
makes available), it is usually easy to sort out those types of questions.
</p>

<h2>Is This Program Free?</h2>

<p>
YES. SourceOptics is open source software being developed for educational users and commercial users alike.
</p>

<h2>What version control systems does this support?</h2>

<p>
Right now, the system only supports git.  No other support is planned.
</p>

<p>What operating systems are supported?</p>

<p>
SourceOptics is a Python3/Django app that runs best on Linux, BSD, or OS X. Michael develops on a Mac. Production configurations have examples
for Linux. SourceOptics requires a PostgreSQL database instance, but may be co-located with it on the same machine or VM.
</p>

<h2>How often are releases?</h2>

<p>
SourceOptics does not have releases per se (yet), because it is so easy to consume the master branch in git. It may have
formal releases in the future. The public master branch is always to be considered stable.
</p>

<h2>How can I contribute?</h2>

<p>
See {{ doc('contributing') }}.
</p>

<h2>Is there an API for Programmatic Access</h2>

<p>
There is not currently one, however the database schema is well organized, and the Django model objects are powerful.  Those doing more advanced statistics
on repositories could access all of these objects via imports and django management commands. A fully featured REST API might be added at a later date,
but is not an immediate priority as we would like to focus on building visualization tools for humans and incorporating all features into the main application.
Adding custom management commands to export data is probably the easiest way to provide access for external tools.
</p>

<h2>Other Questions?</h2>

<p>
See the rest of the documentation.  if you still have questions, <A HREF="mailto:michael@michaeldehaan.net">Email Michael</A> and we'll
try to answer them, and also work them into the documentation.  Thanks!
</p>



