<h1>File Explorer</h1>

<p>
The file explorer allows users to see what parts of an application are most active in source control history, and by whom.
This feature is accessed by clicking the "folder" <i class="fas fa-folder-open"></i> icon next to a repository in the repository list, or from the repository detail page.
</p>

<p>
The view is subject to the time range selected, so it is easy to compare development activity trends from year to year.
This view could be a way for new employees to figure out who is the expert in a particular area of the code, and can be thought as a time-sensitive version
of "git praise" and "git blame", but on a file and directory level scope.
</p>

<p>
The file explorer is somewhat basic, and may melt your CPU while trying to access it. It seems to work best in Chrome.
</p>

<img src="./ss_file_explorer.png"/ width=400>