<h1>Graphs</h1>

<p>
The graphs feature is accessed by clicking a <i class="fas fa-chart-line"></i> link.
</p>

<p>
The graph page is contextual, and will either present data about all authors contributing to a repo or, if accessed from a user centric page, the graphs
for all projects a single user has contributed to across an entire organization. If accessed from {{ doc('repos') }} and the "Graph Selected" button after
selecting multiple repositories, multiple repositories will be graphed against each other.
</p>

<img src="./ss_graphs.png" width=400>

<h2>Examples</h2>

<p>
<i>Example 1: Commits over Time</i>
</p>

<img src="./ss_graphs2.png" width=400>

<p>
<i>Example 2: Days Activity per week, per Repo</i>
</p>

<img src="./ss_graphs3.png" width=400>

<p>
<i>Example 3: Team Member Activity In A CS Project Course, By Team And Author</i>
</p>

<h2>Details</h2>

<p>
The graph system is powered by Plotly, and will show statistics from within the selected time range. Clicking on the legend can disable some statistics, and
zooming in is possible by drawing a rectangle.  Hovering will always show detailed information for any data point.
</p>

<p>
Graphs can be 2D line graphs or scatter plots, or 3D line graphs or scatter plots. Line graphs are shown when the "X" axis is chosen to be "time".
</p>

<p>
Statistics graphable across any axis include:
</p>

<ul>
<li>Time - Indicates the graph is not to be a scatter plot.</li>
<li>Commit Total - How many commits the made in the time slice</li>
<li>Lines Added - How many lines were added to the code</li>
<li>Lines Changed - How many lines were added or removed?</li>
<li>Lines Removed - How many lines were deleted from the code</li>
<li>Files Created - How many new files were added?</li>
<li>File Changes - How many file create or edit events were recorded?</li>
<li>Days Active - How many days had a commit within the time period?</li>
<li>Average Commit Size - How many lines were added per commit, on average?</li>
<li>Commits Per Day - How many commits were made each day</li>
<li>Commitment - For the life of the project, what percentage of days had a commit out of the total number of possible days?</li>
<li>Earliest Commit Date - When did the user/repo have its very first commit?</li>
<li>Latest Commit Date - When did the user/repo have its last commit?</li>
<li>Days Since Seen - How many days have there been without a commit</li>
<li>Days Before Joined - How many days after the first commit did the user make their first commit?</li>
<li>Longevity - What is the difference in days between the last commit and the first?</li>
</ul>


{{ begin_info_block() }}
It should be obvious that we can't judge quality of contributions by numbers, but we can be aware of trends.  Graphing users against one another helps spot
important trends, as can graphing users against one another. A decline in work in one project may imply a user is working on something else.
{{ end_info_block() }}

{{ begin_info_block() }}
When there are too many users to graph, SourceOptics consolidates users with the least commits into a merged user called 'OTHER' for graphing purposes.
{{ end_info_block() }}


