<h1>Imports</h1>

<p>
While it is not required, SourceOptics can automatically import repositories from GitHub, and will be shortly adding support for BitBucket. To start, configure GitHub in the organization's Credential object (in Django Admin).
</p>

<p>
You will need to supply an organizaton name and, if using GitHub Enterprise, the github API endpoint URL.
</p>

<p>
Once configured, run this management command:
</p>

{{ begin_code(language='bash') }}python3 manage.py github_import -o organization_name
{{ end_code() }}

<p>
The organization must already exist. There are settings in the organization to specify a github API endpoint (for use with private GitHub) as well as fnmatch-format filter strings to only import certain patterns of project names.
</p>

<p>
This can work with both regular GitHub and GitHub Enterprise installations.
</p>

<p>
SourceOptics does not endorse any particular git providers and support for other hosting providers via another management command would be a welcome addition.
</p>


