<center><h1>SourceOptics</h1></center>

<center>
<p>
<B>100% Free</B> Git Analytics For Software Organizations
</p>
</center>

<center>
<p>
<a href="./ss_repo_index.png"><img src="./ss_repo_index.png" width=300></a>
<a href="./ss_graphs.png"><img src="./ss_graphs.png" width=300></a>
</p>
</center>

<br/>

<p>
</p>

<h3>Better Teams Through Science</h3>

<p>
SourceOptics provides analytics, reports, and graphs about how software engineering teams and projects operate.
</p>

<p>
Once installed, SourceOptics enables better visibility into activities, improved <u>organizational planning</u>,<u>rewarding of team or individual efforts</u>, <u>elimination of unconscious biases</u>, and <u>more effective hiring</u>.
</p>


<center>
<font size=-1>
<div width=50%>
<p>
To stay up to date with new features, follow <A HREF="twitter.com/sourceoptics">@sourceoptics</A> on twitter.
To get involved with the project, see {{ doc('contributing') }}.
</p>
</div>
</font>
</center>


