<h1>Installation</h1>

<p>
Source Optics is a Django web application.
</p>

<p>
It also has some simple backend management CLI commands that can be run manually, that eventually should be moved to cron or another scheduler once you are in production mode.
</p>

<p>
If you have deployed one Django app, this one should not be very different. If not, this should still be fairly easy.
</p>

<p>
Source Optics uses a PostgreSQL database, and can be installed on the same VM as that database.
</p>

<p>
SourceOptics can scan repos from any HTTP/HTTPS git server (public repos only) or SSH based repositories (public or private) from any source control management system that supports Git. Automated repository imports are optional and are covered in a later section.
</p>

<p>
The app works on Mac, Linux, and Unix machines.
</p>

<p>
Instructions will assume your system has Python 3 installed, and 'pip' points at pip3 (otherwise just substitute pip3), and you have a PostgreSQL instance running. 'git' and 'expect' must also be in your path.
</p>

<p>
If you are running from homebrew, also install 'timeout', which gets installed as gtimeout'.
</p>

<p>
If you are developing on a Mac, try "Postgres.app" to simplify running the database server.
</p>

<p>
"pgadmin" works as a good database admin console, but it is not required.
</p>

<!- ------------------------------------------------------------------------------------------------------- ->

<h2>Initial Steps</h2>

{{ begin_code(language='bash') }}
cd /opt
git clone https://bitbucket.org/laserllama/sourceoptics.git
cd /opt/sourceoptics
mkdir -p /etc/source_optics/conf.d/
pip install -r requirements.txt
{{ end_code() }}

<!- ------------------------------------------------------------------------------------------------------- ->

<h2>Database Setup</h2>

Once PostgreSQL is installed, make a new database:

{{ begin_code(language='bash') }}createdb source_optics
{{ end_code() }}

Next, we'll create a role for whatever username you would like to run source_optics as:

{{ begin_code(language='bash') }}createuser --createdb <username>
{{ end_code() }}

(You may need to run these commands sudoed to 'postgres' depending on your plaform setup)

From the 'psql' prompt you will then need to create a new role to allow database access:

{{ begin_code(language='sql') }}CREATE ROLE usernameGoesHere WITH CREATEDB SUPERUSER;
ALTER DATABASE source_optics OWNER TO usernameGoesHere;
{{ end_code() }}


Add your database configuration settings to /etc/source_optics/conf.d/database.py:

{{ begin_code(language='python') }}DATABASES = {
            'default': {
                        'ENGINE': 'django.db.backends.postgresql',
                        'USER': 'userNameGoesHere',
                        'NAME': 'source_optics',
                        'HOST': '127.0.0.1',
                        'PASSWORD' : 'databasePass',
                    }
            }
{{ end_code() }}

You may also need to:

{{ begin_code(language='sql') }}
ALTER ROLE sourceoptics WITH LOGIN;
\password sourceoptics
{{ end_code() }}

<!- ------------------------------------------------------------------------------------------------------- ->
<h2>Continuing Setup</h2>

{{ begin_code(language='bash') }}python manage.py migrate
python manage.py createsuperuser
python manage.py generate_secret
python manage.py runserver 0:8000
{{ end_code() }}

The generate_secret command generates a symetric key in <i>/etc/source_optics/cred.key</i>.
If you lose this file you will need to run the command again and re-edit any credential objects in Django Admin to
allow them to be re-encrypted with a new key. There are no uses for this file outside the credential objects. This will be explained in more detail later.

<h2>Django Admin and Object Setup</h2>

Now it's time to configure your newly installed instance. See {{ doc('admin') }}.

