<h1>Organizations</h1>

<p>
Organizations in SourceOptics are a way of grouping repositories together.  They are created in {{ doc('admin') }} 
and each Organization is associated with a Credential object holding on to usernames and SSH keys that allow SourceOptics to scan private repositories.
</p>

<p>
The main page of SourceOptics ("http://yourserver/") is the list of all organizations in the system. After clicking on an Organization, users will
see a list of all repositories in the organization, alongside statistics for each repository within the selected time range. See {{ doc('date_ranges') }}.
</p>

<p>
In business installations, Organizations are probably going to represent departments that each hold many, if not hundreds, of software projects. For educational
installations, we recommend organizations be used to define a combination of a course and section, such as "CSC201-Fall2020-001".
</p>

<img src="./ss_org_index.png" width=400>

<p>
Click on any tree icon beside an organization to go to the {{ doc('repos') }} list that organization.
</p>

