<h1>Repo Stats</h1>

<p>
The basic "Repo Stats" page is accessed by clicking on the chart icon from the repository list.
This view shows a selection of statistics about a repository, on per-contributor basis.
</p>

<img src="./ss_repo_stats.png" width=400>

<p>
These stats always apply only to the selected date range, and include:
</p>

<ul>
<li>L+: Number of lines added</li>
<li>L-: Number of lines removed</li>
<li>Commits: Number of total commits</li>
<li>File Changes: Number of total file change events, a commit that affects 2 files would add "2" here</li>
<li>Days Active: The number of days in the time range where there was a commit.</li>
</li>

Additionally, by each name in the graph, there are icons very similar to those on the repository index page.  These link to:

<ul>
<li>{{ doc('author_index') }}</li>
<li>{{ doc('author_stats') }}</li>
<li>{{ doc('commit_feed') }}</li>
<li>{{ doc('graphs') }}</li>
</ul>

SourceOptics collections many more statistics than are shown on this page.  All of these stats are available via {{ doc('graphs') }} or the API. Over time, the stats
page may be modified to show the table in multiple modes, exposing more of the gathered statistics.


