<h1>Repositories</h1>

<p>
Clicking on any of the {{ doc('organizations') }} on the SourceOptics home page will take you to a list of software repositories for the organization.
These repositories are created in {{ doc('admin') }} and will not show any statistics in SourceOptics unless they are first scanned by a background
process, usually handled by a cron job.
</p>

<img src="./ss_repo_list.png" width=400></img>

<p>From here, links are provided to various pages within the system.</p>

<ul>
<li>{{ doc('repo_index') }}</li>
<li>{{ doc('repo_stats') }}</li>
<li>{{ doc('graphs') }}</li>
<li>{{ doc('commit_feed') }}</li>
</li>

{{ begin_info_block() }}
More statistics are provided in the statistic tab and repo index than on this listing.
{{ end_info_block() }}


