<h1>Repo Index</h1>

<p>
The repository index page is accessed with <i class="fas fa-database"></i> from within {{ doc('repos') }} or the "Repos" button while viewing any detail page about
that specific repo.

This page mostly just contains shortcuts to various other pages you could get to instead by following the links in {{ doc('repos') }}, but perhaps due to
different preferences, this gives you another way to get to them.
</p>

<p>
This page will eventually hold more detailed summary information about a repository, but it also provides a pie chart view showing individual contributions
across various statistics within the selected time range. The pie chart is useful for comparing contributions from individuals in a way that may be hard to interpret
in graphs and tabular statistics.  For instance, one user commit less often than others, but affect more lines of code.
</p>

<p>

<img src="./ss_repo_index.png" width=400>



