<h1>Use Cases</h1>

<p>SourceOptics addresses a wide variety of scenarios of interest to software companies of all sizes, open source projects,
and colleges/universities.

<p>The goal of every SourceOptics user is generally the same -- use source control history data to learn about how teams operate,
objectively understand what they are doing, find new questions to ask, and explore ways to make teams work better together.
</p>

<h1>Example Questions that SourceOptics can help answer:</h1>

<ul>
<li>What applications or microservices were the most expensive to maintain last quarter?</li>
<li>What files/directories do we spend the most time editing in this project?</li>
<li>What changes were made in the last two weeks since I was on vacation?</li>
<li>What repositories are seeing increasing activity?</li>
<li>Where should I hire more developers?</li>
<li>Where does a certain user contribute most?</li>
<li>Who are the key developers for each repository?</li>
<li>Who are the hidden star performers on my teams?</li>
<li>How are team dynamics evolving?</li>
<li>How many days did everyone work on each project last year?</li>
<li>How much mileage are we getting from open source contributions?</li>
<li>How well are my open-source dependencies maintained?</li>
</ul>

<h1>Features Include:</h1>

<ul>
<li>A flexible web dashboard with graphical administration</li>
<li>Working with any git provider (GitHub, GitLab, BitBucket, etc)</li>
<li>A Horizontally scalable architecture</li>
<li>A Multi-tenant data model for supporting multiple departments and teams</li>
<li>A Statistics-friendly JSON REST API</li>
<li>Built-in SSH key and password encryption</li>
<li>Automatic github org imports for easy setup</li>
<li>Ability to query activity over any arbitrary time slice</li>
<li>Ability to Query stats across all branches</li>
<li>Webhook support for CI/CD integration</li>
<li>Multiple detailed graph types</li>
<li>Excel-like tabular data views</li>
<li>Can explore per-repo trends or just for specific authors or directories</li>
</ul>

<h1>Our Philosophy</h1>

<ul>
<li>Help teams be more productive through <u>actionable intelligence</u></li>
<li>Help <u>identify and reward hard work</u></li>
<li><u>Expose surprising and relevant patterns</u> in software repositories</li>
<li><u>Encourage curiosity and exploration</u></li>
<li>Present data in multiple views and formats to a wide variety of preferences and <u>learning styles</u></li>
<li><u>Rely on a wide community of enthusiastic users</u> to inform feature development and project ideas</li>
<li>Additionally <u>serve as a research data-platform</u> for even more experimental analysis tools and scripts that can also fuel core product features</li>
</ul>

<h1>Questions?</h1>

<p>
If you have questions if SourceOptics is right for you, you can email Michael DeHaan <A HREF="mailto:michael@michaeldehaan.net">here</A>. We would love to
hear from you.
</p>

