<h1>User Guide Introduction</h1>

<p>While the admin guide is important reading, the SourceOptics user guide is ideally not neccessary.  This section of the documentation is provided
more to help prospective users understand what features are offered by the application once it is installed, and possibly to explain some design
choices and suggest some ways to use the data. In short, we encourage exploration and clicking.</p>

<p>See other sections of this chapter to learn more about some of the pages you will encounter while exploring SourceOptics.</p>

<p>
As you are using SourceOptics, you may have ideas to improve the program.  Stop by {{ doc('contributing') }} for information about how to contribute
and share ideas.
</p>

<p>As you explore the application, keep in mind SourceOptics is a time series database, and everything interacts with {{ doc('date_ranges') }}. Also
many pages like {{ doc('graphs') }} are contextual, and will show different views if accessed from a repository, user, or multiple-repository perspective.
This is also true of pages like {{ doc('commit_feed') }}, which can show commits across repos for all authors, particular authors, or authors across
multiple repositories.</p>

<p>Most of SourceOptics provides deep-linking, for easy sharing of content in chat channels, email, and bookmarks.</p>

